table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead {
    background-color:cornflowerblue;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2), th:nth-child(3) {
    width: 40%;
}

.scoreboard {
    padding: 5%;
}