.dropdown {
    color: black;
}

.team-title {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-dash {
    flex: 1;
}

.column-score {
    flex: 4;
}

.select-player {
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    max-width: 100%;
    width: 100%;
}

.select-menu {
    z-index: 50 !important;
}